In [11]:
import sqlite3
con = sqlite3.connect('Movies1db.db')

In [12]:
cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE MOVIE_NAMES
               (MName text, LActor text, LActress text, DName text, YOR text)''')

In [13]:
# Insert a row of data
cur.execute("INSERT INTO MOVIE_NAMES VALUES ('CLANNAD','TOMOYA OKAZAKI','NAGISA FURUKAWA', 'KEY STUDIOS', '2007')")
cur.execute("INSERT INTO MOVIE_NAMES VALUES('VIOLET EVERGARDEN','MAJOR GILBERT', 'VIOLET', 'KYOTO ANIMATION', '2021')")
cur.execute("INSERT INTO MOVIE_NAMES VALUES('A SILENT VOICE','SHOYA ISHIDA', 'SHOKO NISHIMIYA', 'NAOKO YAMADA', '2017')")
cur.execute("INSERT INTO MOVIE_NAMES VALUES('KANON','AIZAWA YUICHI', 'MAKOTO SAWATARI', 'JUN MAEDA', '2006')")
cur.execute("INSERT INTO MOVIE_NAMES VALUES('GOLDEN TIME','BANRI TADA', 'KAGA KOKO', 'JC STAFF', '2014')")

# Save (commit) the changes
con.commit()

In [8]:
#cur.execute("SELECT * FROM MOVIE")

In [5]:
#print(cur.fetchall())

In [15]:
for row in cur.execute('SELECT * FROM MOVIE_NAMES'):
        print(row)

('CLANNAD', 'TOMOYA OKAZAKI', 'NAGISA FURUKAWA', 'KEY STUDIOS', '2007')
('VIOLET EVERGARDEN', 'MAJOR GILBERT', 'VIOLET', 'KYOTO ANIMATION', '2021')
('A SILENT VOICE', 'SHOYA ISHIDA', 'SHOKO NISHIMIYA', 'NAOKO YAMADA', '2017')
('KANON', 'AIZAWA YUICHI', 'MAKOTO SAWATARI', 'JUN MAEDA', '2006')
('GOLDEN TIME', 'BANRI TADA', 'KAGA KOKO', 'JC STAFF', '2014')

In [17]:
cur.execute("SELECT * FROM MOVIE_NAMES WHERE LActor = 'BANRI TADA'")
print(cur.fetchall())

[('GOLDEN TIME', 'BANRI TADA', 'KAGA KOKO', 'JC STAFF', '2014')]